


footer{
    height: 50px;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
    gap: 30px;
    min-height: calc(100vh - 260px);
}



.bookDIV{
    height: 550px;
    padding: 20px;
    height: 500px;
    display: grid;
    text-align: center;
    grid-template-rows: 40% 1fr 1fr 5fr 1fr;
    gap: 5px;
}

.bookDIV img {
    
    height: 90%;
    
    margin: auto;
    
}
.description{
    
    overflow:scroll;
}

.description::-webkit-scrollbar {
   display: none;
  }

  .title{
      height: max-content;
  }

  .mobile-container {
    margin: auto;
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
    width: 100%;
    font-size: 36px;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
    font-size: 40px;
  }
  
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  h1{
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 24px;
      background-color: rgba(128, 128, 128, 0.329);
  }
  
  .active {
    background-color: #000000;
    color: black;
  }
  @media only screen and (max-width: 960px){
    main{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 30px;
    }
    .bookDIV{
        width: 80%;
        margin: auto;
        height: 550px;
        padding: 20px;
        height: 500px;
        display: grid;
        grid-template-rows: 50% 1fr 1fr 4fr;
      
        gap: 5px;
    }


    body{
        display: grid;
        grid-template-rows: 100px 50px 1fr 50px;
        gap: 33px;
    }

  
  }
