body{
    background-color: #9B9B9B;
}

.bookDIV{
    background-color: #d8d8d8;
}






.title{
    font-size: 25px;
    max-height: 50px;
    overflow: hidden;
    color: white;
    text-shadow:3px 1px  black;
    
}

button{
    background-color: black;
    color: white;
}



.indexMain{
    text-decoration: none;
    font-size: 128px;
    color: teal;
}
i{
    color: white;
}

.saveLink{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    
    text-decoration: none;
    background-color: black;
    color: white;
}
.deatails div{
   
    padding: 20px;
   
    display: grid;
    text-align: center;
    grid-template-rows: 30% 1fr 1fr 4fr 1fr 1fr;
    gap: 10px;
    background-color: #d8d8d8;


}

.deatails div img {
    
    width: 80%;
    height: 100%;
    margin: auto;
}
.viewDetail{
    text-decoration: none;
    background-color: black;
    color: blanchedalmond;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
}

.mainForm {
    display: grid;
    grid-template-rows: 50px 35px 35px 40px;
    
gap: 20px;
}

label{
    font-size: 25px;
}
.addBook{
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.errorImg{
    margin: auto;
    height: calc(100vh - 150px);
}
