body{
    background-color: #9B9B9B;
}

.bookDIV{
    background-color: #d8d8d8;
}

.headerofpage{
    background-color: #4A4A4A;
    width: 100%;
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header img{
    background-color: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

header div{
    background-color: black;
    color: white;
    font-size: 40px;
    display: flex;
    
    align-items: center;
}

header div img{
   position: absolute;
   top: 0px;
   right: 0px;
}

.title{
    font-size: 25px;
    max-height: 50px;
    overflow: hidden;
    color: white;
    text-shadow:3px 1px  black;
    
}
i {
    font-style: italic;
}
button{
    background-color: black;
    color: white;
}

.formFooter{
    position: absolute;
    bottom: 0;
}

.indexMain{
    text-decoration: none;
    font-size: 128px;
    color: teal;
}

.saveLink{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    
    text-decoration: none;
    background-color: black;
    color: white;
}
.deatails{
   
    padding: 20px;
   
    display: grid;
    text-align: center;
    grid-template-rows: 50% 1fr 1fr 1fr;
    gap: 5px;
    background-color: #d8d8d8;


}