<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/layout.css">
    <link rel="stylesheet" href="../style/modules.css">

    <title>Book WIKI</title>
</head>
<body>
  <%- include('../../layout/header')  %> 


<h1>Searching By Title or Author</h1>
    <main>
      <div></div>
  
  <form action="/searches" method="POST" class="mainForm">
    <input type="text" class='textInput' placeholder="Enter a title or author" name='text' required>
    <div>

      <label >
        Title
        <input type="radio" name="searchType" value="title" required >
      </label>

    </div>
    <div>
      <label >
        Author
        <input type="radio" name="searchType" value="author" >
      </label>

    </div>
    <button>SEARCH THE API GOOGLE BOOKS</button>
</form>
</main>
<footer class="formFooter">&copy; Mousa</footer>
<script src="../js/app.js"></script>


</body>
</html>