<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/layout.css">
    <link rel="stylesheet" href="./style/modules.css">

    <title>Book WIKI</title>
</head>
<body>
    <header><div>
        <h1> Best Books</h1>
        <img src="../assest/menu.bmp" alt="">
    </div>

    <h2 class="headerofpage">Welcome </h2>
</header>

<% arr.forEach(obj => { %>
    <div class="bookDIV">
        
     <img src="<%= obj.image_url%>" alt="">
     <p class="title" name='aaaa'><%=obj.title%></p>
     <p class="authors"><i><%=obj.author%></i></p>
     <p class="description"><%=obj.categories%></p>
     <% }) %> 
    <main>

        <a class='indexMain'href="/searches/new">SEARCH</a>

</main>

<footer class="formFooter">&copy; Mousa</footer>
</body>
</html>