<header>
    <div class="mobile-container">

    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a href="/" class="active">BEST BOOKS</a>
      <div id="myLinks">
        <a href="/">Home</a>
        <a href="/searches/new">Search The Google Books API</a>
      </div>
      <a href="#" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
</header>